<template>
  <view>
    <div v-txt="haha"></div>
    <button type="button" v-on:click="test">click me</button>
    <h1 v-txt="haha"></h1>
    <input type="date" id="shoer" v-model="haha">
    <textarea v-model="haha" id="one" cols="30" rows="10"></textarea>
    <select v-model="haha" id="yes">
      <option value="test">show</option>
      <option value="d">d</option>
      <option value="t">t</option>
      <option value="tx">tx</option>
    </select>
  </view>
  <style theme="default">

  </style>
</template>